# Dependencies and Build Outputs
node_modules/
.next/
build/

# IDEs and Editors
.idea/
.vscode/

# Environment Variables
.env.example

# Project Files
.git/
.github/
.gitignore
.dockerignore
.discloudignore
discloud.config
README.md
